<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82945320504-i940ev3cmibcdealeq5f87q8ktutd5dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82945320504-i940ev3cmibcdealeq5f87q8ktutd5dp</string>
	<key>API_KEY</key>
	<string>AIzaSyA5fK96KOZlVBwLFm5wjEWplpFXITSbsqk</string>
	<key>GCM_SENDER_ID</key>
	<string>82945320504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitblind</string>
	<key>PROJECT_ID</key>
	<string>twitblind</string>
	<key>STORAGE_BUCKET</key>
	<string>twitblind.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82945320504:ios:9fe7089d4694df8534e8cd</string>
</dict>
</plist>